<section class="py-5 bg-success text-white" id="products" data-aos="fade-left">
  <div class="container py-5 text-center">
      <h2 class="display-5 fw-bold mb-4">¿Listo para transformar tu facturación electrónica?</h2>
      <p class="lead mb-5">Regístrate hoy y obtén 15 días gratis sin necesidad de tarjeta de crédito.</p>
      <div class="d-flex justify-content-center gap-3">
          <a href="#" class="btn btn-outline-light btn-lg px-4">Comenzar En Facturación Electronica</a>
          <a href="https://www.smartbill.com.co" class="btn btn-outline-light btn-lg px-4">Comenzar En POS</a>
      </div>
  </div>
</section>
