<nav class="navbar navbar-expand-lg navbar-light navbar-transparent fixed-top px-md-5">

  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="images/logo.png" alt="Logo" style="height: 70px;" class="me-2">
      <span class="fs-4 fw-bold text-success">Smartbill</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <a class="nav-link active" aria-current="page" href="#home">Inicio</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="#about-us">Nosotros</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="#features">Características</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="#products">Productos</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="#contact">Contacto</a>
        </li>
        <li class="nav-item me-3">
          <a class="btn btn-success me-2" href="#login">Iniciar Sesión</a>
        </li>
        <li class="nav-item me-3">
          <a class="btn btn-success ms-lg-1 mt-2 mt-lg-0" href="#register">Nuestro POS</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
