<nav class="navbar navbar-expand-lg navbar-light navbar-transparent fixed-top px-md-5">
    <div class="container-fluid">
        <img src="images/logo.png" alt="Logo" style="height: 70px;" class="me-2">
        <p class="inline display-6 mt-2 font-weight-bold">Smartbill</p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item me-2">
                    <a class="nav-link active" aria-current="page" href="#about-us">Sobre Smartbill</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link" href="#">Caracteristicas</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link" href="#">Precios</a>
                </li>
                <li class="nav-item me-2">
                    <button class="px-4 py-2 btn btn-success">Smartbill POS</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

