.hero-section {
    height: 100vh;
    padding-top: 80px; /* space for fixed navbar */
    background: linear-gradient(45deg, #bfff0013, #39570575);
    position: relative;
    z-index: 1;
    color: white;
}