<!-- Hero -->
<section class="hero-section d-flex align-items-center justify-content-center text-dark text-left">
    <div class="container row">
        <div class="col-md-7 col-12 pt-md-5 px-4 py-5">
            <h1 class="display-4 fw-bold">Bienvenido a Smartbill</h1>
            <p class="lead">Una sola parada para manejar todas tus facturas electrónicas.</p>
            <a href="#" class="btn btn-success mt-3">Registrate</a>
        </div>
        <div class="col-md-5 col-12 rounded-3 p-4 bg-white">
            <form action="">
                <h2 class="h3">Contactanos!</h2>
                <!-- Name Input -->
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="name" placeholder="Ingresa tu nombre" required>
                </div>

                <!-- Email Input -->
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Ingresa tu email" required>
                </div>

                <!-- Textarea -->
                <div class="mb-3">
                    <label for="message" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="message" rows="4" placeholder="Mensaje"
                        required></textarea>
                </div>

                <!-- Submit Button -->
                <button type="submit" class="btn btn-success">Enviar</button>
            </form>
        </div>

    </div>
</section>