<div id="about-us" class="container m-auto row my-5 pt-5">
    
    <div class="col-md-6 px-5">
        <h2 class="display-4 fw-bold text-left mb-5">Sobre Smartbill</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis vero doloremque magnam accusantium, soluta velit recusandae magni, quos deleniti eius voluptatem cumque nemo voluptatum, ratione iure est aliquid nihil rem.</p>
        <button class="px-4 py-2 mt-3 btn btn-success">Más información</button>
    </div>
    <div class="col-md-6">
        <img src="images/electronic_bill.jpg" alt="" class="img-fluid">
    </div>
    
</div>