<section id="features" class="py-md-5 py-1" style="background-color: #f8f9fa" data-aos="fade-left">
  <div id="about-us" class="container m-auto row my-5 pt-5">

    <div class="col-lg-6 px-5">
      <h2 class="display-4 fw-bold text-left mb-5">Sobre Smartbill</h2>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis vero doloremque magnam accusantium,
        soluta velit recusandae magni, quos deleniti eius voluptatem cumque nemo voluptatum, ratione iure est aliquid
        nihil rem.</p>
      <button class="px-4 py-2 mt-3 btn btn-success">Más información</button>
    </div>
    <div class="col-lg-6 row p-2">
      <div class="col-6 text-center shadow-lg p-3">
        <img src="images/codigo_qr_android.png" alt="" class="img-fluid">
        <img src="images/playstore.png" alt="" class="img-fluid inline" style="width: 1.6rem;">
        <span class="inline ms-2">Play Store</span>
      </div>
      <div class="col-6 text-center shadow-lg p-3">
        <img src="images/codigo_qr_ios.png" alt="" class="img-fluid">
        <img src="images/logo-apple.png" alt="" class="img-fluid inline" style="width: 1.6rem;">
        <span class="inline ms-2">App Store</span>
      </div>
    </div>

  </div>
</section>
